{% extends 'base.html' %}
{% load static %}

{% block title %}Nueva Configuración de Correo{% endblock %}
{% block content_title %}Nueva Configuración de Correo{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'cliente_dashboard' %}">Dashboard</a></li>
<li class="breadcrumb-item"><a href="{% url 'fiel:config_correos' %}">Configuración de Correos</a></li>
<li class="breadcrumb-item active">Nueva</li>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Agregar nueva configuración</h3>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="{% url 'fiel:config_correos' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}